{{ partial "header.html" . }}

{{ partial "navbar.html" . }}
<body>
    <section class="hero is-fullheight">
        <div class="hero-body">
            <div class="">
                <div class="header-404">
                    <img src="/eternity.png" alt="">
                </div>
                <div class="body-404">
                    <p class="subtitle-404">This is not where you want to be</p>
                    <p class="title-404">404</p>
                    <a href="{{ .Site.BaseURL }}">Go home</a>
                </div>
            </div>
        </div>
    </section>
{{ partial "footer.html" . }}
