<div class="exif">
    <details> 
        <summary>Exif</summary>
        <ul>
            {{ with .Date }}<li>Date: {{ .Format "January 2, 2006" }}</li>{{ end }}
            {{ with .Tags.Copyright }}<li>Copyright: {{ . }}</li>{{ end }}
            {{ with .Tags.ApertureValue }}<li>Aperture: {{ lang.NumFmt 2 . }}</li>{{ end }}
            {{ with .Tags.BrightnessValue }}<li>Brightness: {{ lang.NumFmt 2 . }}</li>{{ end }}
            {{ with .Tags.ExposureTime }}<li>Exposure Time: {{ . }}</li>{{ end }}
            {{ with .Tags.FNumber }}<li>F Number: {{ . }}</li>{{ end }}
            {{ with .Tags.FocalLength }}<li>Focal Length: {{ . }}</li>{{ end }}
            {{ with .Tags.ISOSpeedRatings }}<li>ISO Speed Ratings: {{ . }}</li>{{ end }}
            {{ with .Tags.Model }}<li>Model: {{ . }}</li>{{ end }}
            {{ with .Tags.LensModel }}<li>Lens Model: {{ . }}</li>{{ end }}
        </ul>
    </details>
</div>