<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{ if and .Title (not .IsHome) }}
		<title>{{ .Title }} {{ if .Params.Subtitle }}- {{ .Params.Subtitle }}{{else}}- {{ .Site.Title }}{{ end }}</title>
	{{ else }}
		<title>{{ .Site.Title }}</title>
	{{ end }}
	{{ partial "meta" . }}

	<link rel="icon" type="image/png" href={{ "favicon.ico" | absURL }} />
	<link rel="stylesheet" href={{ "css/main.css" | absURL }}>
	<script src={{ "js/main.js" | absURL }}></script>
	{{ partial "style.html" . }}
	<script src="https://kit.fontawesome.com/bf18cd1a66.js" crossorigin="anonymous"></script>
	{{ partial "fonts.html" . }}
	{{ partial "helpers/plausible" . }}
</head>

<body>
