{{ partial "header.html" . }}

{{ if .Site.Params.BypassWelcomePage }}
<head>
	<meta http-equiv="refresh" content="0; URL={{ relref . .Site.Params.Homepage }}" />
</head>
{{ else }}
<section class="hero is-fullheight welcome">
	{{ partial "navbar.html" . }}
	<div class="hero-body has-text-centered">
		<div class="container">
			<div class="enter">
				<button onclick="window.location.href='{{ relref . .Site.Params.Homepage }}'"
				class="button is-white is-large is-outlined">enter</button>
			</div>
			{{ range $d := .Params.Desc }}
				<p>{{ $d }}</p>
			{{ end }}
		</div>
	</div>
	<div class="welcome-end">
		{{ partial "footer_base.html" . }}
	</div>
</section>
{{ end }}

{{ partial "footer.html" . }}