<!-- 
    Returns all needed posts by supporting multiple column for multiple devices.

    Usage example:
        {{/* partial "images/columns.html" (dict  "portfolioScratch" $portfolioScratch "portfolioMobileScratch" $portfolioMobileScratch "ctx" .) */}}

    Usage example onn Config level;
        columns:
            desktop:
                work: 4
                archive: 6
                people: 2
                default: 3
            mobile:
                default: 2
                archive: 3
                people: 1
-->

<!-- desktop columns -->
{{ $columnsCount := 0 }}
{{ if .ctx.Site.Params.portfolio.columns.desktop }}
	{{ $columnsCount = index .ctx.Site.Params.portfolio.columns.desktop .ctx.Params.Title }}
{{ end }}
{{ if not $columnsCount }}
	{{ if .ctx.Site.Params.portfolio.columns.desktop }}
		{{ $columnsCount = index .ctx.Site.Params.portfolio.columns.desktop "default" }}
	{{ end }}
	{{ if not $columnsCount }}
		<!-- default value doesn't exist in config.yaml -->
		{{ $columnsCount = 3 }} 
	{{ end }}
{{ end }}

{{ $posts := slice }}
{{ if .ctx.Site.Taxonomies.tags }}
	{{ $posts = index .ctx.Site.Taxonomies.tags .ctx.Params.Title }}
	{{ $posts = sort $posts ".Params.weight" "desc" }}
{{ end }}

{{ $postsCount := len ($posts) }}
{{ if lt $postsCount $columnsCount}}
	{{ $columnsCount = $postsCount }}
{{ end }}
{{ $.portfolioScratch.Set "columnsCount" $columnsCount }}
{{ $.portfolioScratch.Set "posts" $posts }}

{{ $loopCount := 1 }}
{{ $loopFlag := 0 }}
{{ $posts = sort $posts "Page" "desc" }}
{{ range $i, $post := $posts }}
	{{ if gt $loopFlag (sub $columnsCount 1) }}
		{{ $loopFlag = 0 }}
	{{ end }}
	{{ range $index, $num := (seq $columnsCount) }}
		{{ if eq (sub $loopFlag $index) 0}}
			{{ $column := $.portfolioScratch.Get (printf "%d" $index) }}
			{{ $column = $column | append (dict "post" $post "loopCount" $loopCount) }}
			{{ $.portfolioScratch.Set (printf "%d" $index) $column }}
		{{ end }}
	{{ end }}
	{{ $loopCount = (add $loopCount 1) }}
	{{ $loopFlag = (add $loopFlag 1) }}
{{ end }}

<!-- mobile columns -->
{{ $mobileColumnsCount := 0 }}
{{ if .ctx.Site.Params.portfolio.columns.mobile }}
	{{ $mobileColumnsCount = index .ctx.Site.Params.portfolio.columns.mobile .ctx.Params.Title }}
{{ end }}
{{ if not $mobileColumnsCount }}
	{{ if .ctx.Site.Params.portfolio.columns.mobile }}
		{{ $mobileColumnsCount = index .ctx.Site.Params.portfolio.columns.mobile "default" }}
	{{ end }}
	{{ if not $mobileColumnsCount }}
		<!-- default value doesn't exist in config.yaml -->
		{{ $mobileColumnsCount = 2 }} <!-- set hard-coded default value -->
	{{ end }}
{{ end }}
{{ if lt $postsCount $mobileColumnsCount}}
	{{ $mobileColumnsCount = $postsCount }}
{{ end }}
{{ $.portfolioMobileScratch.Set "columnsCount" $mobileColumnsCount }}
{{ $.portfolioMobileScratch.Set "posts" $posts }}
{{ $loopCount := 1 }}
{{ $loopFlag := 0 }}
{{ range $i, $post := $posts }}
	{{ if gt $loopFlag (sub $mobileColumnsCount 1) }}
		{{ $loopFlag = 0 }}
	{{ end }}
	{{ range $index, $num := (seq $mobileColumnsCount) }}
		{{ if eq (sub $loopFlag $index) 0}}
			{{ $column := $.portfolioMobileScratch.Get (printf "%d" $index) }}
			{{ $column = $column | append (dict "post" $post "loopCount" $loopCount) }}
			{{ $.portfolioMobileScratch.Set (printf "%d" $index) $column }}
		{{ end }}
	{{ end }}
	{{ $loopCount = (add $loopCount 1) }}
	{{ $loopFlag = (add $loopFlag 1) }}
{{ end }}
